/* 
**************************************************************************
Project: Web Design 1 - Assignment 2
Filename: form.css
By. James Halladay, Cameron Quan                
Login: jehalladay, cgquan      
Assignment No: 2                

**************************************************************************
File Description: form CSS file

**************************************************************************
I declare that all material in this assessment task is my work
except where there is clear aknowledgement                   
or reference to the work of others. I further declare that I  
have complied and agreed to the CMU Academic Integrity Policy 
at the University website.                                    
**************************************************************************                         

Author's Name: James Halladay UID(700#): 700425363            
Author's Name: Cameron Quan   UID(700#): 700467632       
Date: 2/18/2020                                               

Date Last Modified: 2/18/2020                                 
**************************************************************************
*/

/* provided example CSS */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
/* @import url(https://fonts.googleapis.com/css?family=Lobster); */

/* general text formatting */

h1, h2, h3, nav, footer {
   font-family: Lobster, Cambria, "Times New Roman", serif;
}

body {
   font-family: 'Merriweather', Georgia, Cambria, "Times New Roman", serif;
   margin: 0em;
   background-image: url("background.png");
}

/* header and navigation */

header, footer {
   color: white;
   background-color: #1A237E;
   margin: 0em 4em 0.25em 4em;
}

header h1 { 
   padding: 0.5rem 0 0 1.25rem;
   font-size: 2rem;
   font-weight: bold;
}

header p { 
   font-size: 1rem;
   font-style: italic;
   margin-bottom: 1rem;
   padding: 0 0 0 1.25rem;
}

/* main article styling */

