/* 
**************************************************************************
Project: Web Design 1 - Assignment 2
Filename: project.css
By. James Halladay, Cameron Quan                
Login: jehalladay, cgquan      
Assignment No: 2                

**************************************************************************
File Description: project CSS file

**************************************************************************
I declare that all material in this assessment task is my work
except where there is clear aknowledgement                   
or reference to the work of others. I further declare that I  
have complied and agreed to the CMU Academic Integrity Policy 
at the University website.                                    
**************************************************************************                         

Author's Name: James Halladay UID(700#): 700425363            
Author's Name: Cameron Quan   UID(700#): 700467632       
Date: 2/18/2020                                               

Date Last Modified: 2/18/2020                                 
**************************************************************************
*/


/* body CSS */

body {
    font-family: 'Merriweather', Georgia, Cambria, "Times New Roman", serif;
    margin: 0 auto;
    background-image: url("background.png");
}

.homePageDescription {
    background-color: #FFFFFF;
    padding: 0.25em 1em 0.25em 1em;
    margin: 1em 1em 1em 1em; /*increase top margin if using locked navbar*/
    width: 28em;
}

.homePageMain {
    background-color: #FFFFFF;
    padding: 1em;
    margin: 3em 5em 3em 5em;
    width: 42em;
    box-shadow: 1em 1em 1em #6b6b6b;
}

h1 { 
    font-size: 4em;
}

h2 {
    font-size: 1.25em;
}


/* header, nav bar, and footer CSS */

header {
    background: #323232;
    opacity: 90%;
    /* position: fixed; */ /*for locked navbar*/
}

.navTopUL {
    list-style-type: none;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; /*adds space inbetween text*/
    max-width: 50%;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: #B8B8B8;
}

footer { 
    background: #323232;
    opacity: 90%;
    margin: 0 auto;
    padding: 1em;
    color: #FFFFFF;
}

.navBottomUL {
    list-style-type: none;
    line-height: 1.75em;
}

#wrapper {
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
    margin: 0 auto;
}

#first {
    margin: 0% 5% 0% 5%;
    /* margin-left: 10%; */
    width: 300px;
    float: left; /* add this */
    border: 1px solid red;
}

#second {
    border: 1px solid green;
    margin: 0% 5% 0% 5%;
    float: left;
    line-height: 1.5em;
    width: 50%;
}


/* galley CSS */

#gallery { 
    position: relative; 
}

#gallery ul { 
    list-style-type: none; 
}

#gallery li { 
    display: inline; 
    padding: 10px; 
}

#gallery img { 
    border-style: none; 
    padding-bottom: 1em;
}

#gallery a { 
    text-decoration: none; 
    color: #000000; 
    font-style: italic; 
}

#gallery span { 
    display: none; 
}

#gallery a:hover span { 
    display: block; 
    position: absolute;
    top: 5em; 
    left: 850px; 
    text-align: center; 
}