/* 
**************************************************************************
Project: Web Design 1 - Assignment 2
Filename: project.css
By. James Halladay, Cameron Quan                
Login: jehalladay, cgquan      
Assignment No: 2                

**************************************************************************
File Description: project CSS file

**************************************************************************
I declare that all material in this assessment task is my work
except where there is clear aknowledgement                   
or reference to the work of others. I further declare that I  
have complied and agreed to the CMU Academic Integrity Policy 
at the University website.                                    
**************************************************************************                         

Author's Name: James Halladay UID(700#): 700425363            
Author's Name: Cameron Quan   UID(700#): 700467632       
Date: 2/18/2020                                               

Date Last Modified: 2/18/2020                                 
**************************************************************************
*/


/* body CSS */

body {
    font-family: 'Merriweather', Georgia, Cambria, "Times New Roman", serif;
    margin: 0 auto;
    background-image: url("background.png");
}

.homePageDescription {
    background-color: #FFFFFF;
    padding: 0.25em 1em 0.25em 1em;
    margin: 1em 1em 1em 1em; /*increase top margin if using locked navbar*/
    width: 28em;
}

.homePageMain {
    background-color: #FFFFFF;
    padding: 1em;
    margin: 2em 5em 3em 5em;
    width: 42em;
    box-shadow: 1em 1em 1em #6b6b6b;
}

h1 { 
    font-size: 4em;
}

h2 {
    font-size: 1.25em;
}


/* header, nav bar, and footer CSS */

header {
    background: #323232;
    opacity: 90%;
    /* position: fixed; */ /*for locked navbar*/
}

.navTopUL {
    list-style-type: none;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; /*adds space inbetween text*/
    max-width: 50%;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: #B8B8B8;
}

footer { 
    background: #323232;
    opacity: 90%;
    margin: 0 auto;
    padding: 0 auto;
    color: #FFFFFF;
}

footer p {
    font-size: 0.85em;
}

.navBottomUL {
    list-style-type: none;
    line-height: 1.75em;
}

#wrapper {
    overflow: hidden;
    margin: 0 auto;
}

#first {
    margin: 0 0 0 12%;
    width: 300px;
    float: left;
}

#second {
    margin: 0 5% 0% 5%;
    padding: 1em;
    float: left;
    line-height: 1.5em;
    width: 50%;
}


/* galley CSS */

#gallery { 
    position: relative; 
}

#gallery ul { 
    list-style-type: none; 
}

#gallery li { 
    display: inline; 
    padding: 10px; 
}

#gallery img { 
    border-style: none; 
    padding-bottom: 1em;
}

#gallery a { 
    text-decoration: none; 
    color: #000000; 
    font-style: italic; 
}

#gallery span { 
    display: none; 
}

#gallery a:hover span { 
    display: block; 
    position: absolute;
    top: 5em; 
    left: 850px; 
    text-align: center; 
}


/* Form CSS */

main {
    background-color: #FFFFFF;
    margin: 1em 5em 1em 5em;
    padding: 0.25em 1em 0.25em 1em;

}

.formTitle {
    font-size: 3em;
    margin-bottom: 0.5em;
}

section {
    margin-bottom: 1em;
    padding: 0 auto;
    width: 100%;
}

legend { 
    font-size: 1.35em;
    background: #6C6C6C;
    color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
    padding: 0.25em;
}

fieldset {
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
    width: 100%;
    border: none;
}

table {
    width: 100%;
}

table tbody td{
    line-height: 2em;
    padding: 0.25em 1em;
}

input[type=text] {
    height: 1.75em;   
}

select {
    height: 2em;  
}

input[name=title] {
    width: 30%;
}

input[name=artist], select {
    width: 35%;
}

textarea {
    width: 100%;
}

.agreement {
    color: #000000;
    padding: 0.5em;
}

.submission {
    padding: 0.5em;
}

.rounded {
    border: none;
    border-radius: 7px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #6C6C6C;
    padding: 0.5em 0 0.5em 0;
    width: 7em;
    height: 3em;
}

.rounded:hover {
    background-color: #7ACE88;
}